<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of Products</h1>
    <% if(products.length){%>
        <% products.forEach((product)=>{ %>
            <div>
              <h3><%= product.title%></h3>
              <p><%= product.quantity%></p>
              <p><%= product.price%></p>
              <h5>likes: <span><%= product.likes%></span></h5>

              <% if (user.isAdmin) { %>
                <a href="/products/<%= product._id%>">  <button class="btn">edit</button> <a href="/products/<%= product.id%>/edit">
                  <a href="/products/<%= product.id%>/delete">
                    <button class="btn">Delete</button>
                  </a>
              <% } %>
              
                <a  href="/products/<%= product.id  %>">
                  <button class="btn">
                    See more
                  </button>
                  </a>
              
              <a href="/products/<%= product.id%>/cart">
                <button class="btn">Add to Cart</button>
              </a>
            </div>
    <%}) } else{ %>
    <h2>No Products Found</h2>
    <%} %>
</body>
</html>
